{% load humanize %}
{% load trend %}
<link href="/static/assets/css/style-neon.css" rel="stylesheet"/>
<link href="/static/assets/css/style-sidenav.css" rel="stylesheet"/>

<!-- Header -->
<div class="Header" id="myHeader">
    <a class="headerLogo">
        <header>
            <center><font size="6">Covid Tracker India </font></center>
            <center><font size="2">Last Updated : {{ lastupdatedtime }}</font></center>
        </header>
    </a>
</div>
<div class="header pb-6 pt-5 pt-md-4 bg-secondary">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top" id="confirmed">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col">
                                    <h3 class="text-uppercase" id="conf-cls">Confi<span class="first">rm</span>ed</h3>
                                    <span class="h2 font-weight-bold mb-0" style="color:#ff0000;">{{ num_confirmed | intcomma }}</span>
                                    <h5 class="{% color 'dailyconfirmed' dailyconfirmed %}"><i
                                            class="{% arrow 'dailyconfirmed' dailyconfirmed %}"></i> {{ dailyconfirmed |                                        intcomma }} </h5>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                        <i class="fas fa-virus"></i>
                                    </div>
                                </div>
                            </div>
                            <!--                            <p class="mt-3 mb-0 text-muted text-sm">-->
                            <span class="{% color 'confirmed' confirmed_trend %} mr-2"><i
                                    class="{% arrow 'confirmed' confirmed_trend %}"></i> {{ confirmed_trend | floatformat:"0" }}%</span>
                            <span class="text-nowrap">Since last week</span>
                            <!--                            </p>-->

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top" id="recovered">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col">
                                    <h3 class="text-uppercase" id="rec_cls">Recov<span class="first-reco">er</span>ed
                                    </h3>
                                    <span class="h2 font-weight-bold mb-0" style="color:#15ff00;">{{ num_recovered | intcomma }}</span>
                                    <h5 class="{% color 'recovered' dailyrecovered %}"><i
                                            class="{% arrow 'dailyrecovered' dailyrecovered %}"></i>
                                        {{ dailyrecovered |  intcomma }} </h5>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                        <i class="fas fa-heartbeat"></i>
                                    </div>
                                </div>
                            </div>
                            <span class="{% color 'recovered' recovered_trend %} mr-2"><i
                                    class="{% arrow 'recovered' recovered_trend %}"></i> {{ recovered_trend | floatformat:"0" }}%</span>
                            <span class="text-nowrap">Since last week</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top" id="death">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col">
                                    <h3 class="text-uppercase" id="death-cls">Dea<span class="first-death">th</span>s
                                    </h3>
                                    <span class="h2 font-weight-bold mb-0" style="color:#ff0000">{{ num_deaths | intcomma }}</span>
                                    <h5 class="{% color 'dailydeceased' dailydeceased %}"><i
                                            class="{% arrow 'dailydeceased' dailydeceased %}"></i> {{ dailydeceased |         intcomma }} </h5>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fa fa-skull-crossbones"></i>
                                    </div>
                                </div>
                            </div>
                            <span class="{% color 'deaths' deaths_trend %} mr-2"><i
                                    class="{% arrow 'deaths' deaths_trend %}"></i> {{ deaths_trend | floatformat:"0" }}%</span>
                            <span class="text-nowrap">Since last week</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6">
                    <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top" id="death_rate">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col">
                                    <h3 class="text-uppercase" id="drate-cls">Active <span
                                            class="first-deatrate">Cases</span></h3>
                                    <span class="h2 font-weight-bold mb-0"
                                          style="color:#ff8400">{{ active_cases }}</span>
                                    <h5 class="{% color 'dailydeceased' dailydeceased %}"><i
                                            class="{% arrow 'dailydeceased' dailydeceased %}"></i> {{ actived_increases                                        | intcomma }} </h5>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                        <i class="fas fa-virus"></i>
                                    </div>
                                </div>
                            </div>
                            <!--                            <p class="mt-3 mb-0 text-muted text-sm">-->
                            <span class="{% color 'active_cases_rate' active_cases_rate %} mr-2"><i
                                    class="{% arrow 'active_cases_rate' active_cases_rate %}"></i> {{ active_cases_rate | floatformat:"0" }}%</span>
                            <span class="text-nowrap">Since last week</span>
                            <!--                            </p>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--</div>-->

