<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="/static/assets/css/style-sidenav.css" rel="stylesheet"/>
<script src="/static/assets/js/nav-sidebar.js"></script>


<div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <a href="#"><i class="material-icons">home</i><span class="icon-text">Home</span></a><br>
    <a href="#"><i class="material-icons">&#xe567;</i><span class="icon-text">Maps</span></a><br>
    <a href="#"><i class="material-icons">info</i><span class="icon-text">About</span></a><br>
    <a href="#"><i class="material-icons">email</i><span class="icon-text">contact</span></a>
    <hr class="my-3">
</div>





