<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tbody>
        <tr class="category">
            <td>TD 1</td>
            <td>TD 2</td>
            <td>TD 3</td>
        </tr>
        <tr class="subcategory">
           <td>Sub TD 1</td>
            <td>Sub TD 2</td>
            <td>Sub TD 3</td>
        </tr>
        <tr class="category">
            <td>TD 1</td>
            <td>TD 2</td>
            <td>TD 3</td>
        </tr>
        <tr class="subcategory">
           <td>Sub TD 1</td>
            <td>Sub TD 2</td>
            <td>Sub TD 3</td>
        </tr>
    </tbody>
</table>
</body>
</html>