table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.subcategory {
    display:none;
    background:#ababab;
    color:#000000;
}

.category {
    background:#ccc;
    cursor:pointer;
}

td {
    width:130px;
}
.dist-title{
background:#071359;
color:#ffffff;
}









